*, *::before, *::after{
    box-sizing: border-box;
  }

body{
    font-family: 'Castoro', serif;
    padding-top: 160px;
    font-size: 24px;
    line-height: 1.5;
}

img{
    vertical-align: middle;
    max-width: 100%;
}

a{
    display: block;
    text-decoration: none;
    color: #000;
}

.container{
    width: 1296px;
    margin: 0 auto;
}

.banner{
    width: 638px;
    margin: 0 auto;
}

.banner a:hover{
    opacity: 0.7;
}

.title{
   font-size: 128px;
   letter-spacing: 12px; 
}

.text-r{
    text-align: right;
    padding-right: 14px;
}

.profile{
    background: #EFEFEF;
}

.profile p{ 
    width: 636px;
    margin-left: auto;
    padding: 48px 0;
    font-size: 32px;
}

.main{
    padding-top: 80px;
    padding-bottom: 160px;
}

.main-content{
    width: 636px;
    margin-right: auto;
}

.main-title{
    font-size: 40px;
    color: #AE0000;
    border-bottom: 3px solid #AE0000;
}

.info a:hover{
    color: #666;
}

.date{
    font-style: italic;
    font-size: 20px;
    color: #949494;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-12{
    margin-bottom: 12px;
}

.mr-40{
    margin-right: 40px;
}

.social{
    text-align: center;
}

.social-icon{
    max-width: 64px;
    display: inline-block;
}

.social-icon a:hover{
    opacity: 0.7;
}

.footer{
    background: #000;
    padding: 64px 0;
}

